<div class="row">
  <div class="col-sm">
    <mat-form-field>
      <input matInput placeholder="Reference" [(ngModel)]="sendedCamera.reference">
    </mat-form-field>
  </div>
  <div class="col-sm">
    <mat-form-field>
      <input matInput placeholder="URL" [(ngModel)]="sendedCamera.url">
    </mat-form-field>
  </div>
  <div class="col-sm">
    <mat-form-field>
      <mat-label>Client detection</mat-label>
      <mat-select [(ngModel)]="sendedCamera.clientAssigned._id">
        <mat-option *ngFor="let client of clientList" [value]="client._id">
          {{client.reference}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <button mat-flat-button color="primary" (click)="edit()"
      [disabled]="!sendedCamera.reference || !sendedCamera.url || !sendedCamera.clientAssigned._id">Edit</button>
  </div>
</div>