  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Type</h3>
        <mat-chip-list>
          <mat-chip color="primary" selected>{{logs.type}}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col-sm">
        <h3>Color</h3>
        <div class="square-color" [style.background-color]="'rgb('+logs.color.r+','+logs.color.g+','+logs.color.b+')'">
        </div>
      </div>
      <div class="col-sm">
        <h3>Date</h3>
        {{logs.createdDate | date: 'd/M/yy, HH:mm '}}
      </div>
      <div class="col-sm">
        <h3>Camera</h3>
        {{logs.camera.reference}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h3>Screenshot</h3>
        <img class="full-width" [src]="logs.screenshot"/>
      </div>
    </div>
  </div>