<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Camera</h4>
        <p class="card-category"></p>
      </div>
      <div class="card-body" *ngIf="!selectedCamera">
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Reference" [(ngModel)]="newCamera.reference">
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="URL" [(ngModel)]="newCamera.url">
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <mat-label>Client detection</mat-label>
              <mat-select [(ngModel)]="newCamera.clientAssigned">
                <mat-option *ngFor="let client of clientList" [value]="client._id">
                  {{client.reference}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <button mat-icon-button color="primary" (click)="addCamera()"
              [disabled]="!newCamera.reference || !newCamera.url || !newCamera.clientAssigned">
              <mat-icon aria-label="Add">add_circle</mat-icon>
            </button>
          </div>
        </div>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="full-width">

          <!-- Position Column -->
          <ng-container matColumnDef="Reference">
            <th mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let element">{{element.reference}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Url">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let element"> {{element.url}} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="setSelectedElement(element)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteCamera(element._id)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="card-body" *ngIf="selectedCamera">
        <button mat-icon-button color="primary" (click)="setSelectedElement(undefined)">
          <mat-icon aria-label="Return">keyboard_backspace</mat-icon>
        </button>
        <app-edit-camera [camera]="selectedCamera"></app-edit-camera>
      </div>
    </div>
  </div>
</div>