﻿<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Events</h4>
        <p class="card-category"></p>
      </div>
      <div class="card-body" *ngIf="selectedEvent === undefined">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="full-width">

          <!-- Position Column -->
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element"> {{element.details}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Camera">
            <th mat-header-cell *matHeaderCellDef> Camera </th>
            <td mat-cell *matCellDef="let element"> {{element.camera.reference}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.formatDate}} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="setSelectedElement(element)">
                <mat-icon aria-label="View details">pageview</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class='card-body' *ngIf="selectedEvent !== undefined">
        <button mat-icon-button color="primary" (click)="setSelectedElement(undefined)">
          <mat-icon aria-label="Return">keyboard_backspace</mat-icon>
        </button>
        <app-event-details [event] = "selectedEvent" ></app-event-details>
      </div>
    </div>
  </div>
</div>