<div class="row">
    <div class="col-sm">
      <mat-form-field>
        <input matInput placeholder="Reference" [(ngModel)]="editClient.reference">
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field>
        <input matInput placeholder="Login" [(ngModel)]="editClient.login">
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="editClient.password">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <button mat-flat-button color="primary" (click)="edit()"
        [disabled]="!editClient.reference || !editClient.password || !editClient.login">Edit</button>
      </div>
  </div>