<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">User details</h4>
        <p class="card-category"></p>
      </div>
      <div class="card-body" *ngIf="!selectedClient">
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Reference" [(ngModel)]="newClient.reference">
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Login" [(ngModel)]="newClient.login">
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field>
              <input matInput placeholder="Password" type="password" [(ngModel)]="newClient.password">
            </mat-form-field>
          </div>
          <div class="col-sm">
            <button mat-icon-button color="primary" (click)="addClient()"
              [disabled]="!newClient.login || !newClient.password || !newClient.reference">
              <mat-icon aria-label="Add">add_circle</mat-icon>
            </button>
          </div>
        </div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="full-width">

          <!-- Position Column -->
          <ng-container matColumnDef="Login">
            <th mat-header-cell *matHeaderCellDef> Login </th>
            <td mat-cell *matCellDef="let element">{{element.login}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Reference">
            <th mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="setSelectedElement(element)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUser(element)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="card-body" *ngIf="selectedClient">
          <button mat-icon-button color="primary" (click)="setSelectedElement(undefined)">
            <mat-icon aria-label="Return">keyboard_backspace</mat-icon>
          </button>
        <app-edit-client [client]="selectedClient"></app-edit-client>
      </div>
    </div>
  </div>
</div>