<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Logs</h4>
        <p class="card-category"></p>
      </div>
      <div class="card-body" *ngIf="selectedLogs === undefined">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="full-width">

          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <ng-container matColumnDef="Color">
            <th mat-header-cell *matHeaderCellDef> Color </th>
            <td mat-cell *matCellDef="let element">
              <div class="square-color" [style.background-color]="'rgb('+element.color.r+','+element.color.g+','+element.color.b+')'">
              </div>
            </td>
            
          </ng-container>

          <ng-container matColumnDef="Camera">
            <th mat-header-cell *matHeaderCellDef> Camera </th>
            <td mat-cell *matCellDef="let element"> {{element.camera.reference}} </td>
          </ng-container>

          <ng-container matColumnDef="Created Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'd/M/yy, HH:mm '}} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="setSelectedElement(element)">
                <mat-icon aria-label="View details">pageview</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class='card-body' *ngIf="selectedLogs !== undefined">
        <button mat-icon-button color="primary" (click)="setSelectedElement(undefined)">
          <mat-icon aria-label="Return">keyboard_backspace</mat-icon>
        </button>
        <app-logs-details [logs]="selectedLogs"></app-logs-details>
      </div>
    </div>
  </div>
</div>