﻿<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Vehicles details</h4>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Number Car Plate" [(ngModel)]="newPlaque">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <button mat-icon-button color="primary" (click)="add()" [disabled]="!newPlaque">
                <mat-icon aria-label="Add">add_circle</mat-icon>
              </button>
            </div>
        </div>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="full-width">

          <!-- Position Column -->
          <ng-container matColumnDef="Number Car Plate">
            <th mat-header-cell *matHeaderCellDef> Number Car Plate </th>
            <td mat-cell *matCellDef="let element"><span class="registration-ui">{{element.vehicleNumber}}</span></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Created At">
            <th mat-header-cell *matHeaderCellDef> Created At </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'd/M/yy, HH:mm '}} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="deleteVehicule(element._id)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>