/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import  "assets/css/material-dashboard.css";
@import "assets/demo/demo.css";

:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: .75rem;
}

body {
	background: #eee;
	/*background: linear-gradient(to right, #0062E6, #33AEFF);*/
}

.card-signin {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.card-signin .card-body {
	padding: 2rem;
}

.form-signin {
	width: 100%;
}

.form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group input {
	height: auto;
}

.form-label-group>input,
.form-label-group>label {
	padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

.btn-google {
	color: white;
	background-color: #ea4335;
}

.btn-facebook {
	color: white;
	background-color: #3b5998;
}

.full-width{
	width: 100%;
}

.registration-ui {
	background: #ffffff;
	padding: .25em 1em .25em 1.75em;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px #ddd;
	position: relative;
  font-family: helvetica, ariel, sans-serif;
}
.registration-ui:before {
	content: ' F';
	display: block;
	width: 30px;
	height: 100%;
	background: #063298;
	position: absolute;
	top: 0.5px;
	border-radius: 5px 0 0 5px;
	color: #ffffff;
	font-size: .5em;
	line-height: 60px;
	padding-left: 5px;
}
.registration-ui:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	border-radius: 30px;
	border: 1px dashed #ffffff;
}

.square-color{
	width:30px;
	height:30px;
}