﻿<router-outlet></router-outlet>
  <div class="wrapper " *ngIf="this.router.url !== '/login'">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a class="simple-text logo-normal">
          CG06
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[{ outlets: { primary: ['dashboard'], home:['home'] } }]">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link"  [routerLink]="[{ outlets: { primary: ['dashboard'], home: ['vehicle'] } }]">
              <i class="material-icons">drive_eta</i>
              <p>Vehicles Authorized</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link"  [routerLink]="[{ outlets: { primary: ['dashboard'], home: ['event'] } }]">
              <i class="material-icons">notifications</i>
              <p>Events</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link"  [routerLink]="[{ outlets: { primary: ['dashboard'], home: ['camera'] } }]">
              <i class="material-icons">camera</i>
              <p>Cameras</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link"  [routerLink]="[{ outlets: { primary: ['dashboard'], home: ['client-detection'] } }]">
              <i class="material-icons">computer</i>
              <p>Client Detection</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link"  [routerLink]="[{ outlets: { primary: ['dashboard'], home: ['logs'] } }]">
              <i class="material-icons">list</i>
              <p>Logs</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link" (click)="showEvents()">
                    <i class="material-icons">notifications</i>
                    <span class="notification">{{nbNotif}}</span>
                    <p class="d-lg-none d-md-block">
                      Notifications
                    </p>
                  </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" (click)="logout()">
                  <i class="material-icons">exit_to_app</i>
                    <p class="d-lg-none d-md-block">
                      Logout
                    </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
            <router-outlet name="home"></router-outlet>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; Made for CG06
          </div>
        </div>
      </footer>
    </div>
  </div>
