<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Type</h3>
        <mat-chip-list>
          <mat-chip color="primary" selected>{{event.type}}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col-sm">
        <h3>Details</h3>
        {{event.details}}
      </div>
      <div class="col-sm">
        <h3>Date</h3>
        {{event.formatDate}}
      </div>
      <div class="col-sm">
        <h3>Camera</h3>
        {{event.camera.reference}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h3>Screenshot</h3>
        <img class="full-width" [src]="event.screenshot"/>
      </div>
    </div>
  </div>
</div>